#msBing
{
	margin: 0 0 0 2px;
}

.msviLSBtbox
{
	top: -5px;
}

.msviLSBssearch
{
	padding-right: 2px;
	margin: 0;
	margin-top:1px;
	padding-top:1px;
	
}

.msviLSBsform
{
    left:325px;
}

.product_navigation_wrapper
{
    margin-top:-1px;
}