html {
	font-family: Arial, Helvetica !important;
}
body {
	font-family: Arial, Helvetica !important;
}
div {
	font-family: Arial, Helvetica !important;
}
span {
	font-family: Arial, Helvetica !important;
}
applet {
	font-family: Arial, Helvetica !important;
}
object {
	font-family: Arial, Helvetica !important;
}
iframe {
	font-family: Arial, Helvetica !important;
}
h1 {
	font-family: Arial, Helvetica !important;
}
h2 {
	font-family: Arial, Helvetica !important;
}
h3 {
	font-family: Arial, Helvetica !important;
}
h4 {
	font-family: Arial, Helvetica !important;
}
h5 {
	font-family: Arial, Helvetica !important;
}
h6 {
	font-family: Arial, Helvetica !important;
}
p {
	font-family: Arial, Helvetica !important;
}
blockquote {
	font-family: Arial, Helvetica !important;
}
pre {
	font-family: Arial, Helvetica !important;
}
a {
	font-family: Arial, Helvetica !important;
}
abbr {
	font-family: Arial, Helvetica !important;
}
acronym {
	font-family: Arial, Helvetica !important;
}
address {
	font-family: Arial, Helvetica !important;
}
big {
	font-family: Arial, Helvetica !important;
}
cite {
	font-family: Arial, Helvetica !important;
}
code {
	font-family: Arial, Helvetica !important;
}
del {
	font-family: Arial, Helvetica !important;
}
dfn {
	font-family: Arial, Helvetica !important;
}
em {
	font-family: Arial, Helvetica !important;
}
font {
	font-family: Arial, Helvetica !important;
}
img {
	font-family: Arial, Helvetica !important;
}
ins {
	font-family: Arial, Helvetica !important;
}
kbd {
	font-family: Arial, Helvetica !important;
}
q {
	font-family: Arial, Helvetica !important;
}
s {
	font-family: Arial, Helvetica !important;
}
samp {
	font-family: Arial, Helvetica !important;
}
small {
	font-family: Arial, Helvetica !important;
}
strike {
	font-family: Arial, Helvetica !important;
}
strong {
	font-family: Arial, Helvetica !important;
}
tt {
	font-family: Arial, Helvetica !important;
}
var {
	font-family: Arial, Helvetica !important;
}
b {
	font-family: Arial, Helvetica !important;
}
u {
	font-family: Arial, Helvetica !important;
}
i {
	font-family: Arial, Helvetica !important;
}
center {
	font-family: Arial, Helvetica !important;
}
dl {
	font-family: Arial, Helvetica !important;
}
dt {
	font-family: Arial, Helvetica !important;
}
dd {
	font-family: Arial, Helvetica !important;
}
ol {
	font-family: Arial, Helvetica !important;
}
ul {
	font-family: Arial, Helvetica !important;
}
li {
	font-family: Arial, Helvetica !important;
}
fieldset {
	font-family: Arial, Helvetica !important;
}
form {
	font-family: Arial, Helvetica !important;
}
label {
	font-family: Arial, Helvetica !important;
}
legend {
	font-family: Arial, Helvetica !important;
}
table {
	font-family: Arial, Helvetica !important;
}
caption {
	font-family: Arial, Helvetica !important;
}
tbody {
	font-family: Arial, Helvetica !important;
}
tfoot {
	font-family: Arial, Helvetica !important;
}
thead {
	font-family: Arial, Helvetica !important;
}
tr {
	font-family: Arial, Helvetica !important;
}
th {
	font-family: Arial, Helvetica !important;
}
td {
	font-family: Arial, Helvetica !important;
}
input {
	font-family: Arial, Helvetica !important;
}
fieldset {
	font-family: Arial, Helvetica !important;
}
form {
	font-family: Arial, Helvetica !important;
}
option {
	font-family: Arial, Helvetica !important;
}
body {
	background: rgb(255, 255, 255); font-size: 12pt;
}
.nk-footer {
	display: none !important;
}
#nk-pc-filters-container {
	display: none !important;
}
.nk-top-header .nk-nps-container {
	display: none !important;
}
#nk-main_menu_component {
	display: none !important;
}
#nk-subnav-sections .nk-right {
	display: none !important;
}
.nk-top-header img.nk-onscreen {
	display: none !important;
}
#nk-product-specs-open-all {
	display: none !important;
}
#nk-product-specs-close-all {
	display: none !important;
}
.nk-bottom-cta-container {
	display: none !important;
}
.nk-link-cta {
	display: none !important;
}
.nk-link-cta span {
	display: none !important;
}
.nk-side_promo_arrow {
	display: none !important;
}
.nk-small-blue-arrow-button {
	display: none !important;
}
.nk-link-cta-container {
	display: none !important;
}
#nk-page-header {
	float: none !important;
}
#nk-subnav-sections {
	float: none !important;
}
a:link {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
#nk-wrapper {
	float: none !important;
}
.nk-js .nk-main {
	float: none !important;
}
#nk-content-wrp {
	float: none !important;
}
.nk-top-header img.nk-hide {
	display: block;
}
div.nk-pc-carousel-grid {
	width: 800px; float: none !important;
}
ul.nk-pc-list li {
	float: left;
}
.nk-js ul.nk-phone-item {
	width: 335px;
}
ul.nk-pc-list li.nk-pc-list-item {
	display: inline;
}
ul.nk-phone-item {
	width: 400px;
}
ul.nk-phone-item li.nk-phone-details {
	clear: both; float: none; display: inline;
}
li.nk-phone-details div.nk-pd-contents {
	clear: both; display: inline;
}
li.nk-phone-details img {
	margin: 0px; display: inline;
}
#nk-pc-overlay-area .nk-phone-item {
	display: none;
}
#nk-product-specs-accordion {
	float: none !important; display: block !important;
}
.nk-product-specs-header-excluded {
	float: none !important; display: block !important;
}
.nk-product-specs-header {
	float: none !important; display: block !important;
}
.nk-specs-panel-static {
	float: none !important; display: block !important;
}
#nk-content-wrp .nk-product-specs-content {
	float: none !important; display: block !important;
}
#nk-content-wrp .nk-prod-compare-contents {
	float: none !important; display: block !important;
}
#nk-acc-carousel-arrow-left {
	display: none;
}
#nk-acc-carousel-arrow-right {
	display: none;
}
.nk-acc-carousel-pagination-position {
	display: none;
}
.nk-support-faqs-plus {
	display: none;
}
.nk-acc-carousel-prod-description .nk-link-cta {
	display: none;
}
.jcarousel-skin-acc .jcarousel-item {
	height: auto; padding-bottom: 15px;
}
.jcarousel-skin-acc .jcarousel-container-horizontal {
	width: 900px; height: auto !important;
}
.jcarousel-skin-acc .jcarousel-clip-horizontal {
	width: 900px; height: auto !important;
}
#nk-product-acc-carousel ul#nk-acc {
	width: 700px !important; overflow: visible; float: none !important;
}
.nk-acc-carousel-container {
	float: none;
}
.nk-support-faq-bottom-module .left-pane {
	clear: both; float: none !important; display: block;
}
.nk-supportFaqProductBg {
	clear: both; float: none !important; display: block;
}
.nk-support-faqs-tab h2 {
	clear: both; float: none !important; display: block;
}
.nk-supportFaqProductBg {
	margin: 0px; border-radius: 0px; border: currentColor; box-shadow: 0px 0px 0px #fff;
}
.nk-supportFaqProductBg div.nk-col-lcr {
	margin: 0px;
}
.nk-contact-pContentTop {
	clear: both;
}
.nk-contact-pContentBtm {
	clear: both;
}
.nk-contact-pContentTop .nk-link-div div {
	padding-bottom: 10px;
}
.nk-contact-pContentCenter .nk-contact-office-country {
	width: 620px !important;
}
#nk-content-wrp .nk-contact-pContentCenter .nk-left {
	float: left !important;
}
.nk-carousel-productsRelated-container {
	padding-bottom: 60px;
}
.jcarousel-skin-productRelated .jcarousel-clip-horizontal {
	height: auto !important;
}
.jcarousel-item {
	height: auto !important; position: static !important;
}
.jcarousel-item * {
	height: auto !important; position: static !important;
}
.nk-content-left .nk-fullwidth-carousel-prod-description {
	float: none !important;
}
.nk-fullwidth-carousel-prod-description {
	float: none !important;
}
.nk-c0178-video a {
	display: none !important;
}
a.nk-0179-link .nk-video-left span.nk-video-play {
	display: none !important;
}
.nk-whiteBg .nk-left {
	float: none !important;
}
.nk-t017-c {
	float: none !important;
}
.nk-support-downloads-title {
	height: auto !important; padding-bottom: 5px; clear: both !important;
}
.nk-support-downloads-appinfo {
	height: auto !important; padding-bottom: 5px; clear: both !important;
}
.nk-download-button {
	display: none;
}
.nk-rss-left {
	float: none; display: inline;
}
.nk-rss-right {
	float: none; display: inline;
}
.nk-js #nk-hover-panel ul li.nk-selected-phone {
	
}
